//fontawesome
// @import "./fontawesome/fontawesome";
// @import "./fontawesome/brands";
// @import "./fontawesome/regular";
// @import "./fontawesome/solid";
// @import "./fonts/icons.css";
@import "/fonts/icons";
//color
$brand-color: #44535a;
$text-color:#474747;
$link-color: #d15b57;
$hover-color: #f2b763;
$shadow-color:rgba(233,33,3,0.2);
// $pastel-orange: #f1cdb0;
// $pastel-light-wood: #ebebe3;
// $pastel-grey: #c7d6db;
// $pastel-green: #c6d2be;
// $pastel-blue: #83b1c9;
// $pastel-orange: #f1cdb0;
// $pastel-smoke: #c2c8c5;
// $pastel-light-blue: #94b0b7;
// $pastel-blue: #7697a0;
// $pastel-dark-blue: #4a707a;
$pastel-orange: #fff;
$pastel-smoke: #fff;
$pastel-light-blue: #fff;
$pastel-blue: #fff;
$pastel-dark-blue: #fff;